/* Select all CSS */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header CSS */
.header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: auto;
    background-color: rgb(222, 160, 66);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}


.logo{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    border-radius: 10px;
}

.nav-items{   
    padding: 0 10px 0;
    width: auto;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 40px 10px 0 0;
    font-size: large;
    cursor: pointer;
}

.card {
    width: 250px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(222, 160, 66);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.card > img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
}

.card > span > h2{
    text-align: center;
    text-size-adjust: 10px;
}

.card > span > h4{
    text-align: center;
    text-size-adjust: 8px;
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}

.body {
   display: flex;
}

.search-container {
    width: 216px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    background-color: rgb(222, 160, 66);
}

.search-button{
    background-color: rgb(222, 160, 66);
    border-color: rgb(222, 160, 66);
    box-shadow: none;
}